body {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #1E2F23 ;
  height : 100% ;
}

h1 {
  color : #0A2463 ;
}

hr{
      height: 1px;
      background-color: gray;
      border: none;
       width: 75% ;
  }

.hidden {
display: none;
} 



#file-input {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#parse-btn {
  margin-top: 10px;
  background-color: #841C26;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 	10px;
  cursor: pointer;
}

#movie-list.hidden {
display: none;
}

.movie-item {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.movie-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.movie-category {
  color: #777;
}

#random-movie-btn {
  margin-top: 20px;
  background-color: #435334;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#random-movie {
  font-weight: bold;
  margin-top: 10px;
  color: #333;
}

